<!--The content below is only a placeholder and can be replaced.-->

<!--<h2>Chess  </h2>-->
<!--<button [routerLink]=" ['./game'] " >Click to play</button>-->
<div class="board-container">
  <chess-board class="svg-chess-board" #board></chess-board>
</div>


